body{

    background-image: none;
}

.card-container{
    position: absolute;
    left : 600px;
    top : 300px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0px 0px 15px -5px;
}
.image-container img{

    overflow: hidden;
    height: 200px;
    
    
}