.sign_form{

    background-color: white;
    width: 400px;
    height: 350px;
    text-align: center;
    vertical-align: centre;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 500px;
    


}

.sign_h2{
    padding-top: 50px;
    padding-bottom: 50px;

}
.sign_button{

    font-size: 15px;
    padding: 5px;

}